.container1
{ 
	  background-color: black;
    border-bottom: 8px solid #222;
    color: white;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 90px 30px;
    flex-wrap: wrap;

   }

 .container2
{ 
	  background-color: black;
    border-bottom: 8px solid #222;
    color: white;
    align-items: center;
    padding: 30px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
 }


/*ECRITURES*/
.container1 h1, .container2 h1
{
   font-family:  Verdana;
   font-weight: bold;
   font-size: 40px;
   color: white;
   margin-bottom: 25px;
}
.container1 h2, .container2 h2
 {  
   font-family:  Helvetica Neue, Helvetica, Arial, sans-serif; 
   font-weight: lighter;
   font-size: 30px;
  }

.container1 h3, .container2 h3
  { 
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-weight: lighter;
    font-size: 26px;

   }

 ul
{ 
list-style: none;
 }


